.root {
  display: flex;
  flex-direction: column;
  color: var(--green);
  font-weight: 500;
}

input {
  font-size: 1.15rem;
  margin-top: 0.35rem;
  padding: 0.5rem;
  color: var(--blue);
  border: 1px solid var(--green);
}

input:focus {
  outline-color: var(--green);
}

input::placeholder {
  font-size: 1rem;
}
