.root {
  border: none;
  background-color: var(--green);
  width: 100%;
  padding: 0.5rem;
  color: var(--white);
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 600;
}

.root:active,
.root:focus {
  outline: none;
}

.root:hover {
  background-color: #02580e;
}
